<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a gestion de Laboratorios</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <div class="container">
        <nav class="nav-main">
            <a href="#"><img class="log-facci" src="../images/FacciLOGO.png" alt="logo de Facci"></a>
            <ul class="nav-menu">

                
                <div class="example">

                    <div class="options-menu">

                        <button class="click">Opciones</button>

                        <div class="list">

                            <a href="separar-lab.html"><button class="links">Separar laboratorio</button></a>


                            <a href="observaciones.html"><button class="links">Observaciones de
                                    Laboratorios</button></a>

                            <a href="history.html"><button class="links">Historial de Laboratorios</button></a>


                        </div>
                    </div>
                    
                    <li><a class="boton_E" href="login.html">Cerrar sesión</a></li>
                </div>
            </ul>
        </nav>
        <hr>
        <h1 class="titulo" ALIGN="center">Gestión de laboratotios</h1>
        <div class="contenedora-main">
            <section class="seccion-main">
                <div class="imagen">
               </div>
                 <form >
                    <label>Nombre</label>
                    <div class="entrada">
                     <input type="" name=""><br>
                     </div>
                     <label>Correo</label>
                     <div class="entrada">
                     <input type="" name=""><br>
                     </div>
                     <label>Telefono</label>
                     <div class="entrada">
                     <input type="" name=""><br>
                     </div>
                     <label>Direccion</label>
                     <div class="entrada">
                     <input type="" name=""><br>
                      </div>
                      <div class="para-boton">
                      <button class="boton"><b>Actualizar Datos</b></button>
                      </div>
                 </form>
      
      </section>
      </div>
      
        
    </div>
    <iframe class=footer-inf src="footer.html" frameborder="0"></iframe>
    <script src="../js/controller.js"></script>
    <script src="js/actualiza.js"></script>
</body>

</html>